DOC/cr_tables_oracle.sql
DOC/offline_rrl_link.htm
DOC/RRLDataDownloads_ERD.jpg
DOC/Summary_of_Spectra_RRL_Format.xlsx
DOC/cr_tables_oracle.sql
DOC/offline_rrl_link.htm
DOC/RRLDataDownloads_ERD.jpg
DOC/Summary_of_Spectra_RRL_Format.xlsx
access_area.csv
antenna_pattern.csv
antenna_polarity.csv
antenna.csv
applic_text_block.csv
auth_spectrum_area.csv
auth_spectrum_freq.csv
bsl_area.csv
bsl.csv
class_of_station.csv
client_type.csv
client.csv
device_details.csv
fee_status.csv
industry_cat.csv
licence_service.csv
licence_status.csv
licence_subservice.csv
licence.csv
LICENCE.PDF
LICENCE.TXT
licensing_area.csv
nature_of_service.csv
README.TXT
reports_text_block.csv
satellite.csv
site.csv
WTR.csv
spectrumMap.csv
